{% ckan_extends %}
{% set pkg = h.dara_pkg() %}
{% set pid = pkg['dara_Publication_PID'] %}
{% set submission_id = pkg['dara_jda_submission_id'] %}
{% set pid_type = pkg['dara_Publication_PIDType'] %}
{% set DOI = pkg['dara_DOI'] %}
{% set DOI_Test = pkg['dara_DOI_Test'] %}
{% set dara_authors = h.dara_authors('dataset', data) %}
{% set is_admin = h.check_journal_role(pkg, 'admin') or h.check_access('sysadmin') %}
{% set use_testserver = h.dara_use_testserver() %}
{% resource 'dara/dara.css' %}
{% resource 'edawax/edawax.js' %}
{% resource 'dara/dara.js' %}


{% set pkg_url = h.full_current_url() %}
{% if DOI %}
    {% set pkg_url = "http://dx.doi.org/" ~ DOI  %}
{% endif %}

{#
{% set dara_debug = h.dara_debug() %}
#}

{% macro author_in_title(author) -%}
    {% if author == dara_authors[-1] %}
         {{ (author['firstname'], author['lastname']) | join(' ')}}
    {% else %}
        {{ author['firstname'] ~ ' ' ~ author['lastname']  }};
    {% endif %}
{%- endmacro %}


{% block primary_content_inner %}


{# XXX show package for debugging #}
{#   {{ pkg }}  #}


<div prefix="schema: http://schema.org/" typeof="schema:Dataset" resource="{{ pkg_url }}">
    <meta property="schema:includedInDataCatalog" resource="{{ h.ckan_site_url() }}"
        typeof="schema:DataCatalog" />

  {% block package_description %}

{% if DOI %}
    {% snippet 'package/snippets/doi.html', DOI=DOI, test='false' %}
{% endif %}

{% if DOI_Test and not DOI and use_testserver %}
    {% snippet 'package/snippets/doi.html', DOI=DOI_Test, test='true' %}
{% endif %}

 {% if submission_id and is_admin %}
   <p style="color:grey; text-decoration: underline">Article Submission ID: {{ submission_id }} </p>
 {% endif %}

 {% snippet 'package/snippets/authors.html', dara_authors=dara_authors %}

{#
  <div class="authors_title">

    {% if dara_authors %}
    {% for author in dara_authors %}
        {% if author.url %}
            <div property="schema:author" style="display:inline"
                                        typeof="schema:Person" resource="{{
                                        author.url }}">
                    <a href="{{ author.url }}">
                <span property="schema:name">
                    {{ (author['firstname'], author['lastname']) | join(' ')}}
                </span>
                </a>
            </div>

        {% else %}
            <div property="schema:author" style="display:inline"
                                        typeof="schema:Person">
            <span property="schema:name">{{ (author['firstname'], author['lastname']) | join(' ')}}</span>
            </div>

        {% endif %}
        {% if not author == dara_authors[-1] %}
        ;
        {% endif %}
    {% endfor %}
    {% endif %}
  </div>
#}
  {% if h.in_review(pkg) == 'true' %}
        <span class="dataset-private label pull-right label-review">
          <i class="icon-lock"></i>
          {{ 'Review' }}
        </span>

   {% endif %}

  {% if h.in_review(pkg) == 'reauthor' %}
      <span class="dataset-private label pull-right label-reauthor"
          title="Dataset has been resend to author">
        <i class="icon-lock"></i>
        {{ 'Re-Author' }}
      </span>

  {% endif %}

  {{ super() }}

  {% endblock %}


  {% block package_resources %}
    {{ super () }}
  {% endblock %}

  {% snippet "package/snippets/citation.html", pkg_dict=pkg, data=data %}

  {% if pid %}
    {% snippet "package/snippets/related_publication.html", pkg_dict=pkg,
    pid=pid, pid_type=pid_type %}
  {% endif %}


{% block package_tags %}
    {{ super() }}
  {% endblock %}




  {% block package_additional_info %}

  {#XXX off for now
    {{ super() }}
    #}
  {% endblock %}


</div>
{% endblock %}
