{% ckan_extends %}
{#{% set pkg = h.dara_pkg() %} #}

{% block content_action %}
    {% resource 'edawax/edawax.js' %}
    
    {% if h.show_review_button(pkg) %} 
        <a id="review_button" title="sends notification to journal admins" 
            class="btn" href="#" data-url="/dataset/{{pkg.id}}/review">
        <i class="icon-envelope"></i>Send to Review</a>
    {% endif %} 
    
    {% if h.show_publish_button(pkg) %}
    <a class="btn btn-success" title="sets dataset public" href="/dataset/{{ pkg.id }}/publish">
        <i class="icon-ok"></i>Publish</a>
    {% endif %}
    
    {% if h.show_retract_button(pkg) %}
    <a class="btn btn-primary" title="sets dataset private" href="/dataset/{{ pkg.id }}/retract">
        <i class="icon-remove"></i>Retract</a>
    {% endif %}

{{ super() }}
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {#  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }} #}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }}
{% endblock %}


