{% ckan_extends %}
{#{% set pkg = h.dara_pkg() %} #}
{% import 'macros/form.html' as form %}

{% block content_action %}
    {% resource 'edawax_fs/edawax-confirm.js' %}
    {% if h.show_review_button(pkg) %}
        {% set confirm = h.dump_json({'content': '
        <p>This stores your dataset and
        sends an email to the journal editors,
        notifying them that your dataset is ready to be reviewed.
        You will not be able to edit the dataset afterwards.
        </p>
        <p><strong>By clicking \'OK\' you also confirm that you have read and
            accept the <br />
            <a href="/Deposit-License_ZBW_JDA_EN-2019-06-15.pdf" target="_blank">deposit
                licensing conditions (EN)</a>
              <br>
            <a href="/Deposit_License_DE_2016-09-14.pdf"
                target="_blank">deposit
                licensing conditions (DE)</a>.</strong></p>',
        'confirm': 'OK',
        'heading': 'Please Confirm Submission',
        }) %}

        {% set reviewers = false %}

        {% if pkg['dara_edawax_review'] == 'editor' %}

        {# seperate how this works betwen when there are reviewers and
           when there are not #}

          {# There are reviewers #}
          {% if h.has_reviewers(pkg) %}
          <a title="Sends notification reviewers"
                class="btn btn-warning" href="/dataset/{{pkg.id}}/review">
             <i class="icon-envelope"></i>Send to Reviewers</a>

          {% else %}
          {# There are none #}
          {# Don't Display a Button? #}

            <a title="Sends notification reviewers"
                class="btn btn-warning"
                data-toggle="modal" data-target="#to_reviewers">
            <i class="icon-envelope"></i>Send to Reviewers</a>
            {% snippet 'package/snippets/to_reviewers.html', pkg=pkg %}

          {% endif %}


        {% else %}
         <a title="Sends notification to journal editors. You will be asked for confirmation and license acceptance."
              class="btn btn-warning" href="/dataset/{{pkg.id}}/review"
                          data-module="edawax-confirm"
                          data-module-i18n="{{ confirm }}">
           <i class="icon-envelope"></i>Send to Review
         </a>
         {% endif %}

    {% endif %}


    {% if h.show_reauthor_button(pkg) %}
        <a class="btn btn-warning" title="Send dataset back to author"  data-toggle="modal" data-target="#reauthor_confirm">
            <i class="icon-reply"></i>Back to Author</a>
        {% snippet 'package/snippets/reauthor_confirmation.html', pkg=pkg %}
    {% endif %}

    {% if h.show_notify_editor_button(pkg) %}
        <a class="btn btn-warning" title="Send notification to editor"  data-toggle="modal" data-target="#editor_notify">
            <i class="icon-reply"></i>Review Complete</a>
        {% snippet 'package/snippets/editor_notification.html', pkg=pkg %}
    {% endif %}


    {% if h.show_publish_button(pkg) %}
    <a class="btn btn-success" title="Make dataset public" href="/dataset/{{ pkg.id }}/publish">
        <i class="icon-ok"></i>Publish</a>
    {% endif %}


    {% if h.show_retract_button(pkg) %}
    <a class="btn btn-danger" title="make dataset private" data-toggle="modal" data-target="#retract">
        <i class="icon-undo"></i>Retract</a>
    {% snippet 'package/snippets/redact_confirmation.html', pkg=pkg %}
    {% endif %}


{{ super() }}
{% endblock %}


{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {#  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }} #}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
  {#{ h.build_nav_icon('related_list', _('Related'), id=pkg.name) }#}
{% endblock %}
