{% ckan_extends %}

{% block form %}
  {% set facets = {
    'fields': fields_grouped,
    'search': search_facets,
    'titles': facet_titles,
    'translated_fields': translated_fields,
    'remove_field': remove_field }
  %}
  {% set org = h.get_request_param('organization') %}
  {% set sorting = [
    ('Newest', 'metadata_created desc'),
    ('Oldest', 'metadata_created asc'),
    (_('Relevance'), 'score desc, metadata_modified desc'),
    (_('Popular'), 'views_recent desc'),
    (_('Name Ascending'), 'title_string asc'),
    (_('Name Descending'), 'title_string desc'),
    (_('Last Modified'), 'metadata_modified desc'),
    ('Issue Ascending', 'dara_Publication_Volume asc, dara_Publication_Issue asc') if org else (false, false),
    ('Issue Descending', 'dara_Publication_Volume desc, dara_Publication_Issue desc') if org else (false, false),
    ]
  %}
  {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=q, sorting=sorting, sorting_selected=sort_by_selected, count=page.item_count, facets=facets, show_empty=request.params, error=query_error, fields=fields %}

  {# Message for no results or error moved from "search_form" #}
  {% if request.params and page.item_count == 0 and not query_error %}
    <div class="zbw-box box-top">
      <p>Please try another search</p>
    </div>
  {% endif %}

  {% if query_error %}
    <div class="zbw-box box-top">
      <p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
    </div>
  {% endif %}
{% endblock %}

{% block page_primary_action %}{% endblock %}


{% block package_search_results_api_inner %}

{% endblock %}
