{% set dmd = h.dara_extras() %}
{% set dara_authors = h.dara_authors() %}
{% set journal = pkg_dict['organization']['title'] or pkg_dict['organization']['name'] %}


<section class="package-citation">

<h3>Citation</h3>

{{ pkg_dict.author }}{% if dara_authors %},
    {% for author in dara_authors %}
        {% if author == dara_authors[-1] %}
            {{ author }}
        {% else %}
            {{ author }}, 
        {% endif %}
    {% endfor %}
{% endif %}


{# this is just for demo. PublicationDate will be the final key! #}
{% if dmd.dara_PublicationDate %}
    ({{ dmd.dara_PublicationDate }}):
{% else %}
    ({{ dmd.dara_year }}):
{% endif %}

{{ pkg_dict.title }}. 
{% if dmd.dara_currentVersion %}
Version {{ dmd.dara_currentVersion }}. 
{% endif %}

<em>{{journal}}</em>.

doi:10.5432/fake.DOI.

<a
    href="http://dx.doi.org/105432/fake.DOI">http://dx.doi.org/105432/fake.DOI</a>

</section>
