{% ckan_extends %}
{% set extras = h.package_extras() %}
{% set article_url = extras['edawax_article_url'] %}


{% block primary_content_inner %}
   
  {% block package_description %}
  {{ super() }}
  {% endblock %}

  {% block package_resources %}
    {{ super () }}
  {% endblock %}
   
  {% snippet "package/snippets/citation.html", pkg_dict=pkg %}
  
  
  {% if article_url %}
    {% snippet "package/snippets/related_publication.html", pkg_dict=pkg %}
  {% endif %}


{% block package_tags %}
    {{ super() }}
  {% endblock %}
   
  {% block package_additional_info %}
    {{ super() }}
  {% endblock %}


{% endblock %}
