{% ckan_extends %}
{% set pkg = h.dara_pkg() %}
{% set article_url = pkg['edawax_article_url'] %}


{#
{% set dara_debug = h.dara_debug() %}
#}

{% block primary_content_inner %}


<p>DOI Proposal: {{ pkg['dara_DOI_Proposal'] }} </p>

  {% block package_description %}
  {{ super() }}
  {% endblock %}

  {% block package_resources %}
    {{ super () }}
  {% endblock %}
   
  {% snippet "package/snippets/citation.html", pkg_dict=pkg %}
  
  
  {% if article_url %}
    {% snippet "package/snippets/related_publication.html", pkg_dict=pkg %}
  {% endif %}


{% block package_tags %}
    {{ super() }}
  {% endblock %}
   
  {% block package_additional_info %}
    {{ super() }}
  {% endblock %}


{% endblock %}
