{% ckan_extends %}

{% block activity_stream %}
{% if activity_stream %}
  <ul class="activity zbw-box">
  {% set can_show_activity_detail = h.check_access('activity_list', {'id': id, 'include_data': True, 'object_type': object_type}) %}
    {% for activity in activity_stream %}
      {% if activity.user_id == 'not logged in' %}
        {% do activity.update({'user_id': 'The System'}) %}
      {% endif %}
      {%- snippet "snippets/activities/{}.html".format(
        activity.activity_type.replace(' ', '_')
        ), "snippets/activities/fallback.html",
        activity=activity, can_show_activity_detail=can_show_activity_detail, ah={
          'actor': actor,
          'dataset': dataset,
          'organization': organization,
          'user': user,
          'group': group,
        }, id=id
      -%}
    {% endfor %}
  </ul>
{% else %}
  <p class="zbw-box box-bottom">{{ _('No activities are within this activity stream.') }}</p>
{% endif %}
{% endblock %}
