{#
Displays a list of datasets.

packages       - A list of packages to display.
list_class     - The class name for the list item.
item_class     - The class name to use on each item.
hide_resources - If true hides the resources (default: false).
banner         - If true displays a popular banner (default: false).
truncate       - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

  {% snippet 'snippets/package_list.html', packages=c.datasets %}

#}

{% macro package_list(packages) -%}

    {% for package in packages %}
      {% set is_admin = h.check_journal_role(package, 'admin') or h.check_access('sysadmin') %}
      {% if not package.private or
          (package.private and is_admin) or
          (package.private and h.get_user_id() == package.creator_user_id)
      %}

          {% snippet 'snippets/package_item.html',
              package=package,
              item_class=item_class,
              hide_resources=hide_resources,
              banner=banner,
              truncate=truncate,
              truncate_title=truncate_title %}
      {% endif %}
    {% endfor %}

{%- endmacro %}


{% block package_list %}
  {% if packages %}
    <ul class="{{ list_class or 'dataset-list unstyled' }}">
    	{% block package_list_inner %}
            {% set jpackages = h.journal_volume_sorting(packages) %}
            {% if jpackages %}
                {% for jp in jpackages %}
                    {# keep headings out for now
                    {% if jp.volume == jp.issue == '' %}
                        <h3>Other</h3>
                    {% else %}
                        <h3>Volume {{ jp.volume }}, Issue {{ jp.issue }} </h3>
                    {% endif %}
                    #}
                    {{ package_list(jp.packages) }}
                {% endfor %}
                {% else %}
                    {{ package_list(packages) }}
            {% endif %}

	    {% endblock %}
    </ul>
  {% endif %}
{% endblock %}
