{% ckan_extends %}

{# displaying creator names in package list #}


{% block notes %}
  {% if h.check_journal_role(package, 'admin')
    or h.get_user_id() == package.creator_user_id
  %}
    <p>
        {{ h.linked_user(package.creator_user_id, maxlength=20) }}
    </p>
  {% endif %}

  {% if notes %}
    <div>{{ notes|urlize }}</div>
  {% else %}
    <p class="empty">{{ _("This dataset has no description") }}</p>
  {% endif %}
{% endblock %}


{% block heading_private %}
  {% if h.in_review(package) == 'true' %}
      <span class="dataset-private label label-review">
        <i class="icon-lock"></i>
        {{ 'Review' }}
      </span><br>
  {% elif h.in_review(package) == 'reauthor' %}
      <span class="dataset-private label label-reautho">
        <i class="icon-lock"></i>
        {{ 'Re-Author' }}
      </span><br>
  {% elif package.private %}
        <span class="dataset-private label label-inverse">
        <i class="icon-lock"></i>
        {{ _('Private') }}
        </span><br>
  {% endif %}
{% endblock %}


{% block heading_title %}
    {{ super() }}
    {# Imports for popup with download information #}
    {% resource 'edawax/edawax_download_count_popup.js' %}
    {% resource 'edawax/edawax_download_count_popup.css' %}
    {% set resources = h.get_resource_name(package) %}
    <span data-module="edawax_download_count_popup"
            data-module-id="{{ package.id }}"
            data-module-title="{{ h.truncate(package.title, 40) }}"
            data-module-resources="{{ resources }}"
            data-module-license="{{ package.license_title }}"
            data-module-num_resources="{{ package.num_resources }}"
            class="ib info_popover"
            id="{{ package.id }}_popup">
        <i class="icon-info-sign"></i>
    </span>
{% endblock %}
