<div class="modal fade" id="browserModal" tabindex="-1" style="display:block">
    <div class="modal-dialog" role=document>
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="browserModalTitle">
                    <strong>Microsoft Edge - Warning</strong>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </h3>
            </div>
            <div class="modal-body">
                This application does not work well with the Microsoft Edge Browser. Please use Chrome or Firefox.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
