{#
    Template for the resource data popup

    id - id of dataset
    num_resources - dataset's resource count
#}

<div class="context-info">
    <div class="nums">
        <dl>
            {% set data = h.transform_to_map(resources) %}
            {% if data > 0 %}
                <dt>{{ _('Resources (Downloads)') }}</dt>
                {% for item in data %}
                    <dd>
                        <a href="/dataset/{{ item['package_id']}}/resource/{{ item['resource_id'] }}">
                            {{ item['name'] }}
                        </a> ({{ h.resource_downloads(item['url']) }})
                    </dd>
                {% endfor %}
            {% else %}
                <p class="empty">{{ _('This dataset has no data') }}</p>
            {% endif %}
        </dl>
    </div>
    <a class="btn go-to-dataset"
       href="{{ h.url_for(controller='package', action='read', id=id) }}"
       style="float: none !important;">
       <i class="icon-circle-arrow-right"></i>
       Go to dataset
    </a>
</div>
