{#
{% ckan_extends %}


{% block footer_links %}

<div id="zbwlogo"
<a href="http://zbw.eu"><img src="{% url_for_static
   '/base/images/zbw-logo-trans.png' %}"  />
</div>



{% endblock %}


{% block footer_lang %}
{% endblock %}

{% block footer_attribution %}
{% endblock %}


{% block footer_debug %}
{% endblock %}

{% block footer_links_ckan %}
{% endblock %}
#}


<div id='zbwfooter'>
    <a href="http://zbw.eu"><img src="{% url_for_static
    '/base/images/zbw-logo-trans.png' %}"  />
    </a>
</div>

