{#
{% ckan_extends %}

{% block footer_links %}
<div>
    <a href="http://zbw.eu"><img src="{% url_for_static
    '/base/images/zbw-logo-trans.png' %}"  />
    </a>
</div>
<div id="footerlinks" style="float:right;">
    <ul class="inline" id="sitelinks">
        <li><a href="/info/imprint">Imprint</a></li>
        <li><a href="/info/data">Data Protection</a></li>
        <li><a href="/info/contact">Contact</a></li>
    </ul>
</div>


{% endblock %}


{% block footer_lang %}
{% endblock %}

{% block footer_attribution %}
{% endblock %}


{% block footer_debug %}
{% endblock %}

{% block footer_links_ckan %}
{% endblock %}
#}


<div id='zbwfooter'>
    <ul class="inline">
        <li>
            <a href="http://zbw.eu"><img src="{% url_for_static
        '/base/images/zbw-logo-trans.png' %}"  />
            </a>
        </li>

        <li style="font-size: 0.8em; padding-left:33px;">in cooperation with <br />
            <a href="https://www.diw.de/soep"><img src="{% url_for_static
            '/diw_soep_logo_sw.jpg' %}" /></a>
        </li>

        <li>
            <a href="http://doi.org/10.17616/R3BM03"><img src="{%
            url_for_static '/base/images/re3data.png' %}" /></a>
        </li>
    </ul>

    <ul class="inline" id="sitelinks">
        <li><a href="/info">About&nbsp;|</a></li>
        <li><a href="/info/imprint">Imprint&nbsp;|</a></li>
        <li><a href="/info/data">Data Protection&nbsp;|</a></li>
        <li><a href="/info/contact">Contact</a></li>
    </ul>

    {% block footer_debug %}
        {% if g.debug %}
            {% include 'snippets/debug.html' %}
        {% endif %}
    {% endblock %}
</div>



