{#
{% ckan_extends %}

{% block footer_links %}
<div>
    <a href="http://zbw.eu"><img src="{% url_for_static
    '/base/images/zbw-logo-trans.png' %}"  />
    </a>
</div>
<div id="footerlinks" style="float:right;">
    <ul class="inline" id="sitelinks">
        <li><a href="/info/imprint">Imprint</a></li>
        <li><a href="/info/data">Data Protection</a></li>
        <li><a href="/info/contact">Contact</a></li>
    </ul>
</div>


{% endblock %}


{% block footer_lang %}
{% endblock %}

{% block footer_attribution %}
{% endblock %}


{% block footer_debug %}
{% endblock %}

{% block footer_links_ckan %}
{% endblock %}
#}



<div id='zbwfooter'>
    <ul class="inline" id="sitelinks">
        <li><a href="/info">About</a></li>
        <li><a href="/info/imprint">Imprint</a></li>
        <li><a href="/info/data">Data Protection</a></li>
        <li><a href="/info/contact">Contact</a></li>
    </ul>
<div>
    <a href="http://zbw.eu"><img src="{% url_for_static
    '/base/images/zbw-logo-trans.png' %}"  />
    </a>
</div>

</div>
