{% ckan_extends %}
{% block header_wrapper %}
{% asset 'edawax/edawax-css' %}
{% asset 'edawax/changes-css' %}
{% asset 'edawax/font-css' %}

    {% block header_account %}
        {% asset 'edawax/edawax-js' %}
        {% asset 'edawax/doi-js' %}
        <span data-module="browser_check"
              id="browser_popover"></span>

        {{ super() }}
    {% endblock %}

    <hgroup class="{{ g.header_class }}">
    {% block header_logo %}
        <a class="logo" href="/"><img src="/jda-logo.png" alt="ZBW Journal Data Archive" title="ZBW Journal Data Archive" /></a>
    {% endblock %}
    </hgroup>

    {% block header_debug %}

        {# {{ super() }} #}
    {% endblock %}
    <div class="container">
        {# moved this up since positioning did not work in .container
        <hgroup class="{{ g.header_class }}">


        {% block header_logo %}
            {{ super() }}
        {% endblock %}

        </hgroup>
        #}

        <!-- <div class="content"> -->
{#% block toolbar %}
    <div class="toolbar zbw-box">
        {% block breadcrumb %}
        {% if self.breadcrumb_content() | trim %}
            <ol class="breadcrumb">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}{% endblock %}
            </ol>
        {% endif %}
        {% endblock %}
    </div>
{% endblock %#}

{# Moved navigation to page.html #}
{#
{% if h.normal_height() %}
    <div id="edawax_nav_search">
{% else %}
    <div id="edawax_nav_search" class="spacing">
{% endif %}
{% block header_site_navigation %}
        <nav class="section navigation">

        <ul class="nav nav-pills">
            <li>
                {% block header_site_search %}
                        <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
                            <div class="field">
                            <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
                            <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('search') }}" />
                            <button class="btn-search" type="submit"><i class="fa fa-search"></i></button>
                            </div>
                        </form>
                {% endblock %}
            </li>
            {% block header_site_navigation_tabs %}
            {{ h.build_nav_main(
            ('search', _('datasets')),
            ('organizations_index', _('journals')),
            ('info', _('info')),
            ) }}
            {% endblock %}
        </ul>
        </nav>
    {% endblock %}


</div>
#}
        <div />

    </div>
        <!--</div> -->
    </header>
{% endblock %}
