{% ckan_extends %}
{% block header_wrapper %}
{% resource 'edawax/edawax.css' %}

    {% block header_account %}
        {% resource 'edawax/browser_check.js' %}
        <span data-module="browser_check"
              id="browser_popover"></span>

        {{ super() }}
    {% endblock %}


    <header class="masthead">
        <hgroup class="{{ g.header_class }}">
        {% block header_logo %}
            {{ super() }}
        {% endblock %}
        </hgroup>

    {% block header_debug %}

        {# {{ super() }} #}
    {% endblock %}
    <div class="container">
        {# moved this up since positioning did not work in .container
        <hgroup class="{{ g.header_class }}">


        {% block header_logo %}
            {{ super() }}
        {% endblock %}

        </hgroup>
        #}

        <!-- <div class="content"> -->
        <div id="edawax_nav_search" style="float:right;">
        {% block header_site_navigation %}
                <nav class="section navigation">
                <ul class="nav nav-pills">
                    {% block header_site_navigation_tabs %}
                    {{ h.build_nav_main(
                    ('search', _('Datasets')),
                    ('organizations_index', _('Journals')),
                    ('info', _('Info')),
                    ('blog', _('Blog')),
                    ) }}
                    {% endblock %}
                </ul>
                </nav>
         {% endblock %}


        {% block header_site_search %}
            {{ super() }}
        {% endblock %}
        </div>
        <div />

    </div>
        <!--</div> -->
    </header>



{% endblock %}
