{% ckan_extends %}
{% block header_wrapper %}
{% resource 'edawax/edawax.css' %}
{% resource 'edawax/changes.css' %}
{% resource 'edawax/font.css' %}

    {% block header_account %}
        {% resource 'edawax/browser_check.js' %}
        {% resource 'edawax/doi_error.js' %}
        <span data-module="browser_check"
              id="browser_popover"></span>

        {{ super() }}
    {% endblock %}

    <hgroup class="{{ g.header_class }}">
    {% block header_logo %}
        <a class="logo" href="/"><img src="/jda-logo.png" alt="ZBW Journal Data Archive" title="ZBW Journal Data Archive" /></a>
    {% endblock %}
    </hgroup>

    {% block header_debug %}

        {# {{ super() }} #}
    {% endblock %}
    <div class="container">
        {# moved this up since positioning did not work in .container
        <hgroup class="{{ g.header_class }}">


        {% block header_logo %}
            {{ super() }}
        {% endblock %}

        </hgroup>
        #}

        <!-- <div class="content"> -->
{% block toolbar %}
    <div class="toolbar zbw-box">
      {% block breadcrumb %}
        {% if self.breadcrumb_content() | trim %}
          <ol class="breadcrumb">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}
                {% set crumbs = h.get_page_type() %}
                {% if crumbs['text'] != 'Home' %}

                    {% if crumbs['id'] %}
                        {% if crumbs['controller'] in ['organization', 'package'] %}
                            <li>{% link_for _('Journals'), controller=crumbs['controller'], action='index' %}
                        {% else %}
                            <li>{% link_for _('Users'), controller=crumbs['controller'], action='index' %}
                        {% endif %}

                        {% if crumbs['parent'] %}
                            <li>{% link_for crumbs['parent']['title']|truncate(30), controller='organization', action='read', id=crumbs['parent']['id'] %}
                        {% endif %}

                        {% if crumbs['action'] == 'edit' %}
                            {% if crumbs['controller'] == 'organization' %}
                                <li>{% link_for crumbs['resource']['title'], controller=crumbs['controller'], action='read', id=crumbs['id'] %}
                            {% elif crumbs['controller'] == 'user' %}
                                <li>{% link_for crumbs['text'], controller=crumbs['controller'], action='read', id=crumbs['id'] %}
                            {% else %}
                                <li>{% link_for crumbs['resource']['title'], controller=crumbs['controller'], action='read', id=crumbs['id'] %}
                            {% endif %}
                        {% endif %}

                        {% if crumbs['action'] == 'edit' %}
                            <li>{% link_for _('Edit'), controller=crumbs['controller'], action=crumbs['action'], id=crumbs['id'] %}
                        {% else %}
                            <li>{% link_for crumbs['text']|truncate(30), controller=crumbs['controller'], action=crumbs['action'], id=crumbs['id'] %}
                        {% endif %}

                    {% elif crumbs['resource_id'] %}
                        <li>{% link_for crumbs['text']|truncate(30), controller=crumbs['controller'], action=crumbs['action'], resource_id=crumbs['resource_id'], id=crumbs['id'] %}
                    {% else %}
                        {% if crumbs['action'] == 'new' %}
                            <li>{% link_for crumbs['text']|truncate(30), controller="read", action=crumbs['action'] %}

                            <li class="active"><a href="">{{ "Create " + crumbs['controller']|replace('package', 'a Dataset')|replace('organization', 'an Organization') }}</a>
                        {% else %}

                        {% if crumbs['action'] == 'logged_out_page' %}
                            <li></li>
                        {% elif crumbs['action'] == 'register' %}
                            <li class="active">{{ h.nav_link(_('Registration'), controller='user', action='register') }}</li>
                        {% elif crumbs['action'] == 'login' %}
                            <li class="active">{{ h.nav_link(_('Login'), controller='user', action='login') }}</li>
                        {% elif crumbs['action'] == 'activity' %}
                        {% else %}
                            <li>{% link_for crumbs['text']|truncate(30), controller=crumbs['controller'], action=crumbs['action'] %}
                        {% endif %}



                        {% endif %}
                    {% endif %}

                {% endif %}
            {% endblock %}
          </ol>
        {% endif %}
      {% endblock %}
    </div>
{% endblock %}
        <div id="edawax_nav_search">
        {# ('blog', _('Blog')), #}
        {% block header_site_navigation %}
                <nav class="section navigation">

                <ul class="nav nav-pills">
                    <li>
                        {% block header_site_search %}
                                <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
                                  <div class="field">
                                    <label for="field-sitewide-search">{% block header_site_search_label %}{{ _('Search Datasets') }}{% endblock %}</label>
                                    <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('search') }}" />
                                    <button class="btn-search" type="submit"><i class="icon-search"></i></button>
                                  </div>
                                </form>
                        {% endblock %}
                    </li>
                    {% block header_site_navigation_tabs %}
                    {{ h.build_nav_main(
                    ('search', _('datasets')),
                    ('organizations_index', _('journals')),
                    ('info', _('info')),
                    ) }}
                    {% endblock %}
                </ul>
                </nav>
         {% endblock %}


        </div>
        <div />

    </div>
        <!--</div> -->
    </header>
{% endblock %}

