{% extends "page.html" %}


{% block subtitle %}{{ 'Info Pages' }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block primary_content %}
{% set markdown_file = page~'.md' %}
  <article class="module">
    <div class="module-content">
         {{ h.render_infopage(markdown_file) }}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
{% resource 'edawax/edawax.js' %}
{# could be used for infopages navigation #}
<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      Info
    </h2>
    <div class="module-content">
        <ul class="nav nav-tabs nav-stacked infonav">
            <li><a href="/info">About</a></li>
            <li><a href="/info/contact">Contact</a></li>
            <li class="nav-header">Legal</li>
            <li><a href="/info/imprint">Imprint</a></li>
            <li><a href="/info/data">Data Protection</a></li>
            <li><a href="/Deposit-License_ZBW_JDA_EN-2019-06-15.pdf">
                Deposit License (PDF, en)</a></li>
            <li><a href="/Deposit_License_DE_2016-09-14.pdf">
                Deposit License (PDF, de)</a></li>
            <li class="nav-header">Support</li>
            <li><a href="/User_Manual-EN_V1.5.pdf">User Manual (PDF, en)</a>
            </li>
            <li><a href="/User Manual-DE-V1.5.pdf">User Manual (PDF, de)</a></li>
            <li><a href="/info/api-guide">API Overview</a></li>
            <li class="nav-header">Misc</li>
            <li><a href="/leaflet.pdf">Info Leaflet</a></li>
            <li><a href="/publisher_info_1.4.pdf">Info for Publishers</a></li>
            <li><a href="/JDA_Schema.pdf">JDA Schema</a></li>

        </ul>
    </div>
 </div>


{% endblock %}
