{% extends "page.html" %}


{% block subtitle %}{{ 'Info Pages' }}{% endblock %}

{% block breadcrumb_content %}
{% endblock %}

{% block primary_content %}
{% set markdown_file = page~'.md' %}
  <article class="module">
    <div class="module-content">
         {{ h.render_infopage(markdown_file) }}
    </div>
  </article>
{% endblock %}

{% block secondary_content %}
{% resource 'edawax/edawax.js' %}
{# could be used for infopages navigation #}
<div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="icon-info-sign"></i>
      Info
    </h2>
    <div class="module-content">
        <ul class="nav nav-tabs nav-stacked infonav">
            <li><a href="/info">About</a></li>
            <li><a href="/info/contact">Contact</a></li>
            <li class="nav-header">Legal</li>
            <li><a href="/info/imprint">Imprint</a></li>
            <li><a href="/info/data">Data Protection</a></li>
            <li><a href="/Deposit-License_ZBW_JDA_EN-2016-07-21-final-1.pdf">
                Deposit License (PDF)</a></li>
            <li class="nav-header">Support</li>
            <li><a href="/manual_EN.pdf">User Manual (PDF, en)</a>
            </li>
            <li><a href="/manual_DE.pdf">User Manual
                    (PDF, de)</a></li>
            <li class="nav-header">Misc</li>
            <li><a href="/leaflet.pdf">Info Leaflet</a></li>

        </ul>
    </div>
 </div>


{% endblock %}
