{% set intro = g.site_intro_text %}

<div class="module-content box intro">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading zbw_font">{{ _("welcome to ckan") }}</h1>
      <p>
        {% trans %}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean magna nulla, molestie sed posuere ac, mattis sed eros. Nullam sem sapien, congue quis turpis sit amet, eleifend vulputate tortor. Integer commodo, nunc et scelerisque tristique, lorem arcu facilisis tellus, vitae rutrum diam orci id turpis. Praesent venenatis orci in vestibulum tristique. Integer tempus non risus quis tristique. Suspendisse luctus lectus lacinia tortor rutrum venenatis. Pellentesque ultricies, neque et pharetra sollicitudin, tortor turpis porttitor odio, nec tristique tellus metus vel metus. Fusce commodo odio leo. Nam consectetur suscipit velit, sed mattis leo varius sit amet. Proin hendrerit elit at ligula volutpat pellentesque. Etiam ut velit nisi. Etiam a aliquam massa, molestie lacinia mi.
        {% endtrans %}
        <br><br>
        {% trans %}
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean magna nulla, molestie sed posuere ac, mattis sed eros. Nullam sem sapien, congue quis turpis sit amet, eleifend vulputate tortor. Integer commodo, nunc et scelerisque tristique, lorem arcu facilisis tellus, vitae rutrum diam orci id turpis. Praesent venenatis orci in vestibulum tristique. Integer tempus non risus quis tristique. Suspendisse luctus lectus lacinia tortor rutrum venenatis. Pellentesque ultricies, neque et pharetra sollicitudin, tortor turpis porttitor odio, nec tristique tellus metus vel metus. Fusce commodo odio leo. Nam consectetur suscipit velit, sed mattis leo varius sit amet. Proin hendrerit elit at ligula volutpat pellentesque. Etiam ut velit nisi. Etiam a aliquam massa, molestie lacinia mi.
        {% endtrans %}
      </p>
    {% endif %}
  </header>
</div>
