{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('organization_create') %}
    {% link_for _('Add Journal'), controller='organization', action='new', class_="btn btn-primary split", icon="plus-sign-alt" %}
  {% endif %}
{% endblock %}


{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('My Organizations') }}</h2>
  {% set organizations = h.organizations_available('create_dataset') %}
  {% if organizations %}
    <div class="wide">
      {% snippet "organization/snippets/organization_list.html", organizations=organizations %}
    </div>
  {% else %}
    <p class="empty">
      {{ _('You are not a member of any journal.') }}
     </p>
  {% endif %}
{% endblock %}
