/* Limit Font */
body, input, button, select, textarea, #dara_, p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

html {
    /*height: 100%;*/
    /* Using this makes the height the size of the browser
     * not the height of the page.
     */
}

.account-masthead{
    background: #007bb4 !important;
}

.row.wrapper{
    margin-bottom: 0 !important;
}

.span9{
    width: calc(74% - 00px) !important;
    margin-bottom: 5px;
}

.span3{
    width: 25.4% !important;
}

.zbw-font {
    font-family: 'zbw_binaryregular';
}

.zbw-blue {
    /*#008fc3*/
    color: #007bb4 !important;
    margin: 0 !important;
}

.zbw-top {
    background-color: white !important;
}


.right {
    float: right;
}

.zbw-box{
    float: none !important;
    background-color: white;
    border-radius: 8px 8px 0 0;
    margin-bottom: 5px !important;
    padding: 10px !important;
}

.zbw-box-full{
    float: none !important;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 5px !important;
    padding: 10px !important;
}

.zbw-box-bottom{
    float: none !important;
    background-color: white;
    border-radius: 0 0 8px 8px;
    margin-bottom: 5px !important;
    padding: 10px !important;
}

.zbw-box-full > form > .form-actions{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.dataset-item{
    float: none !important;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 5px !important;
    padding: 10px !important;
}

.nav.nav-pills {
    margin-bottom: 0;
    margin-top: 0;
}

.row.wrapper{
    background-color: transparent;
}

.module-content{
    width:100%;
    padding: 0 !important;
    margin: 0 !important;
}

.module-content.box {
    padding: 10px !important;
}

body {
    /*height: 100% !important;*/
    margin: 0 !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background-image: url('/background_temp.jpg');*/
    /*rgb(0, 93, 150)*/
    background-image: linear-gradient(#95abc400 0%,#dde4ec9e 10%,rgb(0, 93, 150, 1) 100%), url('/background_temp.jpg') !important;
    background-size: 100% auto;

    /*background: rgb(0, 93, 150) !important;*/

}

.hero, .hero::after, [role="main"] {
    background-color: transparent !important;  /* remove all colors or transparent */

}

[role="main"]{
    position: relative;
    top: -8px;
}


.account-masthead {
  height: 42px;
  color: white;
}



.header-image {
    position: relative !important;
    height: 42px;
    background: #fff;
    width: 100%;
    left: 0 !important;
    top: 0 !important;
}

.header-image img {
    position: absolute;
    margin:auto;
    left: 8%;
    top: -42px;
}

.masthead {
    background-color: #005d95 !important;
    height: 122px !important;
    background-image: radial-gradient(circle closest-corner at 12% 0px, #81afcb 0%, #005d95 100%) !important;
}

.masthead .container {
    top: -42px;
}

.box {
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 7px;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4px;
    width: auto;
    height: auto;
    box-shadow: 0 3px 0 1px rgba(0,0,0,0.05);
}

.box h2, form h3.heading {
    font-family: 'zbw_binaryregular';
    text-decoration: none;
    font-size: 1.8em;
    color: #000000;
}


.homepage [role="main"] {
    padding: 0px 0;
}

[role="main"] {
    padding: 0px;
    /*top: -80px;*/
}


.zbw_font {
    font-family: 'zbw_binaryregular';
    text-decoration: none;
    font-size: 1.8em;
    color: rgb(29,82,122)
}

small {
    font-size: 9px;
    background-color: white;
    border-radius: 8px;
    padding: 5px;
}

/************* End Heading*****************/


/*********** START Forms********************/
.dataset-form,
.page-heading {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

#user-edit-form {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}

.form-actions {
    margin: 0;
}

.stages {
    border-radius: 8px 8px 0 0;
    margin: -10px -10px 5px -10px;
}

.stages > .active > .highlight{
    background: #007bb4 !important;
}

.stages > .complete> .highlight{
    background: #39a9de !important;
}
.stages li.complete::before{
    color: #39a9de !important;
}

.stages li.active::before{
    color: #007bb4 !important;
}

.stages li.active::after{
    border-top-color: #007bb4;
    border-bottom-color: #007bb4;
}

/*********** END Forms********************/


/************* START Navigation ********************/
#edawax_nav_search {
    float: none !important;
    height: 42px;
    color: #007bb4;
    padding-top: 5px;
    /*padding-bottom: 75px;*/

}

#edawax_nav_search > nav.navigation {
    margin-left: 0;
}

#edawax_nav_search > nav.navigation > ul > li{
    width: 24%;
    background-color: rgb(0,123,180);
    border-radius: 8px;
    margin-left: 1%;
    margin-bottom: 4px;
    align-content: center;
}

#edawax_nav_search > nav.navigation > ul > li > a,
#edawax_nav_search > nav.navigation > ul > li > form > div > input {
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'zbw_binaryregular';
}

#edawax_nav_search > nav.navigation > ul > li > form {
    margin-bottom: 0;
}

#edawax_nav_search > nav.navigation > ul > li > form > div > input{
    background-color: rgb(0,123,180);
    border-radius: 8px;
    text-align: left !important;
    border-style: none;
}

#edawax_nav_search > nav.navigation > ul > li > form > div > input::placeholder{
    /*font-family: 'zbw_binaryregular';*/
    color: white;
    opacity: 1;
    text-align: left !important;
}

#edawax_nav_search > nav.navigation > ul > li:hover,
#edawax_nav_search > nav.navigation > ul > li.active{
    background-color: #fff !important;
}

#edawax_nav_search > nav.navigation > ul > li > a:hover,
#edawax_nav_search > nav.navigation > ul > li.active > a{
    color: rgb(0,123,180);
    border: none;
}

.toolbar{
    display: none;
}


/********** START GRID ******************/

.media-grid-ii{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-left: 0;
}

.media-item-ii{
    list-style: none;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    position: relative;
}

.media-view-ii > span {
    display: none !important;
}

a.media-view-ii {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

a.media-view-ii:hover {
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,143,195,1);
    -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,143,195,1);
    box-shadow: inset 0px 0px 5px 0px rgba(0,143,195,1);
}



/********** END GRID ******************/


/************* END Naviagtion *********************/


/** START Journal List **/


.media-grid {
    background: none !important;
    border: 0 !important;
    margin: 0px -25px 0px -27px;
    position: relative;
    left: 27px;
}

.media-item {
    border-radius: 8px;
    margin: 0 5px 5px 0;
}

.media-view{
    border: 0;
}

.media-heading{
    color: rgb(0,123,180);
}

/** END Journal List**/

/************** START SEARCH FORM *********************/

.search-form {
    background-color: white;
    border-radius: 8px;
    height: 100px;
    margin-bottom: 5px;
}

.add_data_button {
    float: left;
    margin-right: 35px;
}

/************** END SEARCH FORM *********************/

/************** START Item List ****************/
.dataset-heading a {
    color: rgb(0, 123, 180);
}

.pagination{
    background-color: white;
    border-radius: 8px;
    width: 700px;

    margin: 0 !important;
}

.page-header > .content_action {
    margin-top: 3px;
    margin-right: 5px;
    z-index: 100;
}

.module-content.page-header.zbw-box{
    /*margin-bottom: 5px !important;*/
    border-bottom: 1px solid white;
    /*position: relative;
    top: 11px;*/
}

li.active > a {
    border-radius: 8px 8px 0 0;
}

.module-content > :last-child{
    /*border-bottom: 0 !important;*/
}

.module-content.page-header.zbw-box + .module-content{
    position: relative;
    top: -10px;
}

.content-action > a {
    padding: 2px 10px;
    font-size: 11.9px;
    border-radius: 3px;
    text-decoration: none;
}

/************** END Item List ****************/

/************** START Info Panel ******************/
.wrapper{
    background-image: none !important;
    border: none;
    -webkit-box-shadow: none;


}

.span3 > .module.module-narrow.journal {
    display: none !important;
}

.span3 > .module.module-narrow.social {
    display: block !important;
}

.module {
    margin: 0 !important;
}
}

.context-info {
    background-color: transparent;
    border-radius: 8px;
    margin-bottom: 0 !important;
}

.span3 > .module.module-narrow.social,
.module.module-narrow.module-shallow,
.nums,
.top-info {
    background-color: white;
    border-radius: 8px;
    border-top: none !important;
    padding: 10px;
    margin: 0 !important;
    margin-bottom: 5px !important;
}

.nums{
    margin-top: 5px !important;
}

.social {
    font-size: 15px !important;
    font-weight: bold !important;
    color: black !important;
}

.social > ul > li {
    border: 0;
    color: black;
    font-size: 11.9px !important;
    font-weight: normal !important;
}

.nums dl dt{
    font-size: 15px !important;
    font-weight: bold !important;
    text-align: center;
}

.nums dl dd{
    font-size: 15px !important;
    font-weight: normal !important;
    text-align: center;
    line-height: 1.5 !important;
}

.module-heading{
    background-color: white;
    border: 0;
    color: #007bb4; /*rgb(0, 123, 180)*/
}

.journal_info {
    display: block !important;
}

.info-panel {
    background-color: transparent !important;
    padding: 0 !important;
}

.about-info.active,
.about-info {
    background-color: white !important;
    margin-bottom: 5px !important;
    border-radius: 8px !important;
    border: 0;
}

.about-info.active > a{
    font-weight: bold;
}

.about-info > a {
    background-color: white !important;
    border: 0 !important;
    border-radius: 8px !important;
}

.about-info > a:hover {
    font-weight: bold;
}



/************** END Info Panel ******************/

.bottom-gap {
    margin-bottom: 5px;
}


/************** START Resource Panel ******************/
.intro {
    margin-top: 5px !important;
}

article.about {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}


.primary > article > .module-content > div > h1{
    background-color: white !important;
    padding: 10px !important;
    margin-bottom: 0 !important;
    font-family: 'zbw_binaryregular';
    margin-top: 0 !important;
    color: rgb(0, 123, 180) !important;
    /*border-radius: 0 0 8px 8px;*/
}

.primary > article > .module-content > div {
    /*padding-top: 10px*/
}

.notes {
    background-color: white;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

.authors_title{
    background-color: white;
    padding: 5px 10px;
    margin-top: 5px;
}

.related_publication,
.package-citation,
#dataset-resources {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 0 !important;
}

.download_all_wrapper{
    width: 100%;
}

.download_all_wrapper > a {
    /*position: absolute;
    top: 14px;
    right: 18px;*/
    margin-left: calc(100% - 116px);
    background-color: rgb(235,107,6) !important;
    background-image: linear-gradient(to bottom, rgb(234,138,61) 15px, rgb(235,107,6) 15px) !important;
}

.split{
    background-image: linear-gradient(to bottom, rgb(39, 117, 165) 15px, rgb(4,93, 151) 15px) !important;
    background-color: rgb(4,93, 151) !important;
}

.package-citation > .container{
    width: 100%;
}

.export-btn {
    width: 80px;
}

/************** END Resource Panel ********************/

/************** START TAGS ******************/

.tag_section {
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    margin-top: 5px;
}

.tag_section > ul{
    background-color: white !important;
    border: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;

}

.tag{
    background-color: rgb(219, 232, 240) !important;
    border: 0 !important;
    border-radius: 8px !important;
}



/********* START Resource ***************/

.resources {
    margin-top: 8px !important;
    margin-bottom: 8px !important;
    background-color: white;
    border-radius: 8px;
}

.resources > h2 {
    border-radius: 8px !important;
}

.actions {
    top: 10px !important;
    right: 10px !important;
}

.module-resource {
    border-radius: 8px !important;
}

.hide {
    display: none;
}

.empty{
    background-color: white;
    border-radius: 8px;
}

/********* END Resource***************/


.user-list{
    background-color: white;
    padding: 10px;
    border-radius: 0 0 8px 8px;
}

.form-horizontal {
    background-color: white;
    border-radius: 0 0 8px 8px;
    padding: 10px;
}

.no-nav .page-header{
    border-radius: 8px 8px 0 0;
}

.page_primary_action{
    background-color: white;
    margin-bottom: 5px;
    border-radius: 0 0 8px 8px;
}

.context-info .info {
    border: 0;
    margin-top: 5px;
}

/************** END TAGS ******************/


/************** START FOOTER ******************/
.wrapper{
    box-shadow: none;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

#zbwfooter {
    margin-top: 0px !important;
    padding-top: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    text-align: right !important;
    display: 0 !important;

    /*position: relative;
    top: -113px;*/
}

#zbwfooter ul{
    display: block;
}

#sitelinks > li > a{
    width: 920px; /* same size as main container */
    color: white;
}

#sitelinks > li{
    align-content: left;
}

#sitelinks li{
    padding: 0 !important;
}

#zbwfooter > .inline:nth-of-type(2) {
    width: 100%;
    margin: auto;
}

#zbwfooter > .inline:nth-of-type(1) {
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 7px;
    background-color: white;
    /*padding-left: 3%;
    padding-right: 3%;*/
    padding-bottom: 4px;
    width: auto;
    height: auto;
    box-shadow: 0 3px 0 1px rgba(0,0,0,0.05);
}

#zbwfooter > .inline:nth-of-type(1) > li{
    margin-left: 6%;
}

/************** END FOOTER ******************/



/********* LOGIN *****************/
.account-masthead .account ul li a{
    padding-top: 10px !important;
    font-size: 16px !important;
}

/*************Search*****************/
.masthead .site-search input{
    border: none;
    background-color: #efefef;
    margin-top: 4px;
}


/************ Before breadcrumbs ******************/
#content{
    margin-top: 5px !important;
}


#zbwfooter,
#sitelinks {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}


/************ Responseive Settings *****************/
@media (max-width: 1045px){
    .navigation{
        margin-left: calc((100% - 100px) / 2) !important;
    }
}

@media (max-width: 979px) {
    #zbwfooter, #sitelinks {
        width: 724px !important;
    }
    #zbwfooter > .inline:nth-of-type(2) {
        width: auto;
    }

    #sitelinks ul li img {
        max-width: 60%;
        width: auto;
    }

    #zbwfooter .inline li a img  {
        padding-bottom: 15px;
    }
    #zbwfooter{
        padding: 0;
    }
    .module > .module-content > .search-form{
        height: 80px;
    }
    fieldset.author{
        margin-left: 0px;
    }
    /*.navigation{
        float: left;
    }*/
}

/* Mobile Styles */
@media (max-width: 800px) {

    /*.main{
        position: relative;
        top: 70px;
    }*/

    .toolbar .breadcrumb {
        font-size: 14px;
    }

    .toolbar .breadcrumb .home{
        display: inline;
    }

    .breadcrumb .home .icon-home{
        font-size: 14px;
    }

    .searchcontainer{
        /*top: -35px !important;*/
    }

    .hero{
        padding-top: 25px;
    }

    body {  /* main.css remove here */
        padding-left: 0px;
        padding-right: 0px;
    }

    #content { /* add the 20px here */
        padding-left: 20px;
        padding-right: 20px;
    }

    /* move the account stuff below logo */

    .account-masthead .account {
        float: right;  /*none;*/
        /*padding-top: 80px;
        padding-left: 3%;*/
        background-color: #007bb4;
    }

    .account-masthead{
        margin-right:0;
    }

    .account-masthead .container {
        height: 30px;
    }

    .nav-tabs::before, .nav-pills::before, .nav-tabs::after, .nav-pills::after {
        width: 100%
    }

    /* move the account stuff below logo END */

    /* Header */

    .header-image img {
        position: absolute;
        margin: auto;
        left: 3%;
        top: -42px;
    }

    /* TABS, Search field, Tags */



    .navigation { /* TABS placed left */
        /*margin-left: 0px !important;*/
    }


    .module-search .heading {
        width: 26%;
    }

    .search-input {
        width: 74%;
    }

    .module-search > form.search-form {
        width: 96% !important;
        padding-left: 2% !important;
        padding-right: 2% !important;
    }

    .module-search .tags {
        margin-left: 0px !important;
        width: 100%;
    }

    #zbwfooter, #sitelinks {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;

    }

    #zbwfooter > .inline:nth-of-type(2) {
        width: auto;
    }

    #sitelinks ul li img {
        max-width: 60%;
        width: auto;

    }

    #zbwfooter .inline li:nth-of-type(1) a img {
        padding-top: 15px;
    }

    #zbwfooter{
        padding: 0 !important;
    }

    .module > .module-content > .search-form{
        height: 110px;
    }
    .form-actions{
        text-align: right;
    }
    [role="main"] {
        padding: 0px;
        /*top: -40px;*/
    }
}

@media (max-width: 640px) {
    .module-search .heading {
        width: 35%;
    }

    .search-input {
        width: 65%;
    }

    .navigation{
        margin-left: calc((100% - 5px) / 2) !important;
    }
}

@media (max-width: 540px) {
    .navigation{
        margin-left: 0px !important;
    }

    .searchcontainer{
        top: -35px;
    }

    .searchcontainer{
        top: -35px !important;
    }

    .naviagtion{
        clear: both !important;
        float: left !important;
    }

    [role="main"] {
        top: -40px;
    }
}

@media (max-width: 500px) {

    .module-search .module-content .heading {
        line-height: 25px !important;
        margin-top: -3px !important;
    }

    #zbwfooter {
        padding: 0;
    }

    .account-masthead .account {
        /*position: relative;
        top: 180px;*/
        clear: both;
        width: 100%;
    }
    .account-masthead {
        padding-right: 0px;
        height: 80px;
    }

}

@media (max-width: 289px){
    .module > .module-content > .search-form{
        height: 130px;
    }
}


