/***************************************************  CHANGES ****************************************************************/
html {
    /*height: 100%;*/
    /* Using this makes the height the size of the browser
     * not the height of the page.
     */
}


body {
    /*height: 100% !important;*/
    margin: 0 !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(45deg, #95abc4 0%,#dde4ec 50%,#96acc6 100%) !important;

}


div.module {
    margin-top: 0;
}

div.module > form.search-form{
    border: 0 !important;
}


.hero, .hero::after, [role="main"] {
    background-color: transparent !important;  /* remove all colors or transparent */
}


.account-masthead {
  height: 42px;
  color: white;
  background: #007bb4 !important;
}

#edawax_nav_search {
  height: 42px;
  color: #007bb4;
  background: #ffffff !important;
}


/************ SEARCH *****************/
.searchcontainer {
    padding-top: 38px;
    margin-bottom: 10px;
    height: 172px;
    background-image: radial-gradient(circle closest-corner at 12%-18px, #81afcb 0%, #005d95 100%);
}


.header-image {
    position: relative !important;
    height: 42px;
    background: #fff;
    width: 100%;
    left: 0 !important;
    top: 0 !important;
}

.header-image img {
    position: absolute;
    margin:auto;
    left: 8%;
    top: -42px;
}

.masthead {
    background-color: #005d95 !important;
    height: 122px !important;
    background-image: radial-gradient(circle closest-corner at 12% 0px, #81afcb 0%, #005d95 100%) !important;
}

.masthead .container {
    top: -42px;
}

.box, #zbwfooter > .inline:nth-child(2) {
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 7px;
    background-color: white;
    padding-left: 3%;
    padding-right: 4px;
    padding-bottom: 4px;
    width: auto;
    height: auto;
    /*box-shadow: 0 3px 0 1px rgba(0,0,0,0.05);*/
}

.homepage .module-search {
    border: none;
    border-radius: none;
    margin: 0;
    background-color: white;
    padding: 0;
    width: auto;
    height: auto;
    box-shadow: none;
}

.homepage .module-search {
    margin-bottom: 20px; /* maybe add the margin to another class */
    background: none;
}

 .module-search {
    border: none;
    border-radius: none;
    margin: 0;
    background-color: white;
    padding: 0;
    width: auto;
    height: auto;
    box-shadow: none;
}

 .module-search {
    margin-bottom: 20px; /* maybe add the margin to another class */
    background: none;
}
.module-search .heading {
    /* This creates a conflict with the information in the side bare*/
    width: 25%;
    float:left;
}

.search-input {
    width: 75%; /* 75% */
    float: left;

}

.search-input input {
    border-radius: 6px;

}

.search-form {
    height: 42px;

}

.module-search {
    background-color: #007bb4;
}

.homepage .module-search .module-content {
    background: linear-gradient(to bottom, rgba(48,149,195,1) 0%, rgba(0,123,180,1) 100%);
}

.homepage .module-search .tags {
    background-color: rgba(255, 255, 255, 0.4) !important;
    color: #005d95 !important;
    border-radius: 6px;
    margin-left: 128px !important;
    box-shadow: 0 2px 0 1px rgba(0,0,0,0.02) !important;
}

.module-search .module-content {
    background: linear-gradient(to bottom, rgba(48,149,195,1) 0%, rgba(0,123,180,1) 100%);
}


.box h2, form h3 {
    font-family: 'zbw_binaryregular';
    text-decoration: none;
    font-size: 1.8em;
    color: #000000;
}

form h3 {
    color: white;
}

.homepage .module-search .search-giant input {
    border: none;
}

.homepage .module-search .tags a:hover {
    border: none;
    background-color: #fff !important;
    color: #007bb4 !important;
    border-radius: 6px;
    box-shadow: none;
}

.module-search .search-giant input {
    border: none;
}

.tag {
    border: none;
    background-color: #007bb4;
    color: #fff !important;
    border-radius: 6px;
    box-shadow: none;
    padding: 2px 10px 2px 10px !important;
}

.module-search .tags a:hover {
    border: none;
    background-color: #fff !important;
    color: #007bb4 !important;
    border-radius: 6px;
    box-shadow: none;
}

/*************** Popular Tags *********************/
.search-form .search-input input {
    height: 42px;
}

.search-form .search-input{
    margin-bottom: 15px;
}


#zbwfooter > .inline:nth-of-type(2) {
    width: 880px; /* has to get the same width as container */
    margin: auto;
    text-align: left;
}


.homepage [role="main"] {
    padding: 0px 0;
}

[role="main"] {
    padding: 0px 0;
}


/********** TAGS SECTION*****************/
.homepage .module-search .tags{
    width: 600px;
    margin-left: calc((100% - 600px) / 2) !important;
}


.module-search .tags h3{
    font-size: 14px;
    line-height: 20px;
    padding: 2px 8px;
}

.module-search .tags h3 {
    display: block;
    float: left;
    margin: 5px 10px 0 0;
}

.module-search .tags{
    padding: 5px 10px 10px 10px;
    color: #005d95 !important;
    box-shadow: 0 2px 0 1px rgba(0,0,0,0.02) !important;

    width: 600px;
    margin-left: calc((100% - 600px) / 2) !important;
    border-radius: 0 0 6px 6px !important;
    background-color: rgba(255,255,255,0.5);
}

.module-search .tags .tag{
    display: block;
    float: left;
    margin: 5px 10px 0 0;
}

.module-search .tags:before,
.module-search .tags:after{
    display: table;
    content: "";
    line-height: 0;
}

.module-search .tags:after{
    clear: both;
}

.module-search {
    margin-bottom: 20px !important;
    background: none;
}
/************** END Tags section********************/


/***************  TABS  *******************/
.nav-pills > li > a{
    border: 0 !important;
}

.nav-pills > li:hover{
    background: #7aabc8 !important;
    border-radius: 6px 6px 0 0 !important;
}

.nav-pills > li.active > a {
    color: #fff !important;
    background: rgba(48,149,195,1) !important;
}

/***************END TABS*******************/


/************ Search Headin******************/
.module-search .module-content .heading{
    margin-top: 0;
    margin-bottom: 7px;
    font-size: 24px;
    line-height: 40px;
}


/************* End Heading*****************/

#sitelinks {
    margin-bottom: 0;
    width: 880px; /* has to get the same width as container */
    margin: auto;
}

#sitelinks a {
    color: #444444;
}

/************** START FOOTER ******************/
.wrapper{
    box-shadow: none;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

#zbwfooter {
    margin-top: 0px !important;
    padding-top: 0px !important;
    text-align: right !important;
    display: 0 !important;
}

#zbwfooter ul{
    display: block;
}

#sitelinks{
    width: 920px; /* same size as main container */
}
/************** END FOOTER ******************/

ul.inline > li, ol.inline > li {
    padding-left: 0;
    padding-right: 5%;
}



/********* LOGIN *****************/
.account-masthead .account ul li a{
    padding-top: 10px !important;
    font-size: 16px !important;
}

/*************Search*****************/
.masthead .site-search input{
    border: none;
    background-color: #efefef;
    margin-top: 4px;
}

/************** TABS *******************/
.navigation {
    margin-left: calc((100% - 400px) / 2) !important;
}

/*.navigation {
    margin-left: 242px !important;
}*/

.nav-pills > li > a {
    border: none;
    background-color: #ffffff !important;
    color: #005d95  !important;
    border-radius: 6px 6px 0 0 !important;
    box-shadow: none;
    padding: 10px 20px 10px 20px !important;
    margin: 0 1px 0 0 !important;
}


.nav {
    margin-bottom: 0 !important;
}


.module-search > form.search-form {
    width: 800px !important;
    padding-left: calc((100% - 800px) / 2) !important;
    padding-right: calc((100% - 800px) / 2) !important;
}


/************ Before breadcrumbs ******************/
#content{
    margin-top: 10px !important;
}
