/* Limit Font */
body, input, button, select, textarea, #dara_, p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

html {
    /*height: 100%;*/
    /* Using this makes the height the size of the browser
     * not the height of the page.
     */
}


body {
    /*height: 100% !important;*/
    margin: 0 !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: linear-gradient(45deg, #95abc4 0%,#dde4ec 50%,#96acc6 100%) !important;
}

.hero, .hero::after, [role="main"] {
    background-color: transparent !important;  /* remove all colors or transparent */
}


.account-masthead {
  height: 42px;
  color: white;
}



.header-image {
    position: relative !important;
    height: 42px;
    background: #fff;
    width: 100%;
    left: 0 !important;
    top: 0 !important;
}

.header-image img {
    position: absolute;
    margin:auto;
    left: 8%;
    top: -42px;
}

.masthead {
    background-color: #005d95 !important;
    height: 122px !important;
    background-image: radial-gradient(circle closest-corner at 12% 0px, #81afcb 0%, #005d95 100%) !important;
}

.masthead .container {
    top: -42px;
}

.box, #zbwfooter > .inline:nth-child(2) {
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 7px;
    background-color: white;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 4px;
    width: auto;
    height: auto;
    box-shadow: 0 3px 0 1px rgba(0,0,0,0.05);
}

.box h2, form h3.heading {
    font-family: 'zbw_binaryregular';
    text-decoration: none;
    font-size: 1.8em;
    color: #000000;
}


.homepage [role="main"] {
    padding: 0px 0;
}

[role="main"] {
    padding: 0px;
    top: -80px;
}




/************* End Heading*****************/


.box {
    border-radius: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

/************* START Navigation ********************/
#edawax_nav_search {
    float: none !important;
    height: 42px;
    color: #007bb4;
    padding-top: 5px;
    padding-bottom: 75px;

}

#edawax_nav_search > nav.navigation {
    margin-left: 0;
}

#edawax_nav_search > nav.navigation > ul > li{
    width: 24%;
    background-color: rgb(0,123,180);
    border-radius: 8px;
    margin-left: 1%;
    margin-bottom: 4px;
    align-content: center;
}

#edawax_nav_search > nav.navigation > ul > li > a,
#edawax_nav_search > nav.navigation > ul > li > form > div > input {
    color: white;
    width: 100%;
    text-align: center;
    font-family: 'zbw_binaryregular';
}

#edawax_nav_search > nav.navigation > ul > li > form {
    margin-bottom: 0;
}

#edawax_nav_search > nav.navigation > ul > li > form > div > input{
    background-color: rgb(0,123,180);
    border-radius: 8px;
    text-align: left !important;
}

#edawax_nav_search > nav.navigation > ul > li > form > div > input::placeholder{
    font-family: 'zbw_binaryregular';
    color: white;
    opacity: 1;
    text-align: left !important;
}

#edawax_nav_search > nav.navigation > ul > li:hover,
#edawax_nav_search > nav.navigation > ul > li.active{
    background-color: #fff !important;
}

#edawax_nav_search > nav.navigation > ul > li > a:hover,
#edawax_nav_search > nav.navigation > ul > li.active > a{
    color: rgb(0,123,180);
    border: none;
}

/************* END Naviagtion *********************/


/************** START FOOTER ******************/
.wrapper{
    box-shadow: none;
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

#zbwfooter {
    margin-top: 0px !important;
    padding-top: 0px !important;
    text-align: right !important;
    display: 0 !important;
}

#zbwfooter ul{
    display: block;
}

#sitelinks{
    width: 920px; /* same size as main container */
}

#zbwfooter > .inline:nth-of-type(2) {
    width: 880px; /* has to get the same width as container */
    margin: auto;
    text-align: left;
}
/************** END FOOTER ******************/



/********* LOGIN *****************/
.account-masthead .account ul li a{
    padding-top: 10px !important;
    font-size: 16px !important;
}

/*************Search*****************/
.masthead .site-search input{
    border: none;
    background-color: #efefef;
    margin-top: 4px;
}


/************ Before breadcrumbs ******************/
#content{
    margin-top: 10px !important;
}


#zbwfooter,
#sitelinks {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
}


/************ Responseive Settings *****************/
@media (max-width: 1045px){
    .navigation{
        margin-left: calc((100% - 100px) / 2) !important;
    }
}

@media (max-width: 979px) {
    #zbwfooter, #sitelinks {
        width: 724px !important;
    }
    #zbwfooter > .inline:nth-of-type(2) {
        width: auto;
    }

    #sitelinks ul li img {
        max-width: 60%;
        width: auto;
    }

    #zbwfooter .inline li a img  {
        padding-bottom: 15px;
    }
    #zbwfooter{
        padding: 0;
    }
    .module > .module-content > .search-form{
        height: 80px;
    }
    fieldset.author{
        margin-left: 0px;
    }
    /*.navigation{
        float: left;
    }*/
}

/* Mobile Styles */
@media (max-width: 800px) {

    /*.main{
        position: relative;
        top: 70px;
    }*/

    .toolbar .breadcrumb {
        font-size: 14px;
    }

    .toolbar .breadcrumb .home{
        display: inline;
    }

    .breadcrumb .home .icon-home{
        font-size: 14px;
    }

    .searchcontainer{
        /*top: -35px !important;*/
    }

    .hero{
        padding-top: 25px;
    }

    body {  /* main.css remove here */
        padding-left: 0px;
        padding-right: 0px;
    }

    #content { /* add the 20px here */
        padding-left: 20px;
        padding-right: 20px;
    }

    /* move the account stuff below logo */

    .account-masthead .account {
        float: right;  /*none;*/
        /*padding-top: 80px;
        padding-left: 3%;*/
        background-color: #007bb4;
    }

    .account-masthead{
        margin-right:0;
    }

    .account-masthead .container {
        height: 30px;
    }

    .nav-tabs::before, .nav-pills::before, .nav-tabs::after, .nav-pills::after {
        width: 100%
    }

    /* move the account stuff below logo END */

    /* Header */

    .header-image img {
        position: absolute;
        margin: auto;
        left: 3%;
        top: -42px;
    }

    /* TABS, Search field, Tags */



    .navigation { /* TABS placed left */
        /*margin-left: 0px !important;*/
    }


    .module-search .heading {
        width: 26%;
    }

    .search-input {
        width: 74%;
    }

    .module-search > form.search-form {
        width: 96% !important;
        padding-left: 2% !important;
        padding-right: 2% !important;
    }

    .module-search .tags {
        margin-left: 0px !important;
        width: 100%;
    }

    #zbwfooter, #sitelinks {
        width: 100% !important;
        padding-left: 0;
        padding-right: 0;

    }

    #zbwfooter > .inline:nth-of-type(2) {
        width: auto;
    }

    #sitelinks ul li img {
        max-width: 60%;
        width: auto;

    }

    #zbwfooter .inline li:nth-of-type(1) a img {
        padding-top: 15px;
    }

    #zbwfooter{
        padding: 0 !important;
    }

    .module > .module-content > .search-form{
        height: 110px;
    }
    .form-actions{
        text-align: right;
    }
    [role="main"] {
        padding: 0px;
        /*top: -40px;*/
    }
}

@media (max-width: 640px) {
    .module-search .heading {
        width: 35%;
    }

    .search-input {
        width: 65%;
    }

    .navigation{
        margin-left: calc((100% - 5px) / 2) !important;
    }
}

@media (max-width: 540px) {
    .navigation{
        margin-left: 0px !important;
    }

    .searchcontainer{
        top: -35px;
    }

    .searchcontainer{
        top: -35px !important;
    }

    .naviagtion{
        clear: both !important;
        float: left !important;
    }

    [role="main"] {
        top: -40px;
    }
}

@media (max-width: 500px) {

    .module-search .module-content .heading {
        line-height: 25px !important;
        margin-top: -3px !important;
    }

    #zbwfooter {
        padding: 0;
    }

    .account-masthead .account {
        /*position: relative;
        top: 180px;*/
        clear: both;
        width: 100%;
    }
    .account-masthead {
        padding-right: 0px;
        height: 80px;
    }

}

@media (max-width: 289px){
    .module > .module-content > .search-form{
        height: 130px;
    }
}


