/* econstor color */
body,
.masthead,
[role=main],
.main,
.hero {
  background-color: #f4f4f4;
  background-image: none;
}
body,
input,
button,
select,
textarea,
#dara_ {
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  box-sizing: content-box;
}
.homepage .module-search .module-content {
  background-color: #008fc3;
}
.homepage .module-search .tags {
  background-color: #005d7a;
}
a {
  color: #005d95;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400 !important;
}
h1 {
  font-weight: 300;
  font-size: 36px;
  line-height: 1.25em;
}
h2 {
  font-size: 27px;
}
.media-grid {
  margin-top: 50px !important;
}
#content {
  margin-top: 25px;
}
.account-masthead {
  min-height: 20px;
  color: white;
  background: #008fc3;
}
.account-masthead .account ul li {
  display: block;
  float: left;
  border: none;
}
.account-masthead .account ul li a {
  display: block;
  /* color: rgb(191, 215, 222); */
  color: white;
  font-size: 13px;
  font-weight: 400;
  padding: 5px 10px 5px 10px;
  line-height: normal;
}
.header-image {
  position: absolute;
  left: 25px;
  top: -2px;
}
.masthead a {
  color: #505050 !important;
}
.navigation {
  margin-left: 100px;
}
.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 14px;
  margin-left: 14px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 16px;
  float: right;
}
.nav-pills > li > a:hover,
.nav-pills .active a {
  border-bottom: 2px solid #008fc3;
  background-color: transparent !important;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #505050;
  font-weight: 400;
  background-color: transparent !important;
}
.nav-item.active > a,
.nav-aside li.active a {
  position: relative;
  color: white;
  background-color: #2d2d2d;
}
.nav-item.active > a:before,
.nav-aside li.active a:before {
  content: ' ';
  position: absolute;
  top: 0;
  right: -6px;
  width: 6px;
  height: 34px;
  background-image: none;
}
/*
.homepage.layout-1 .row1 .col2 {
    position:absolute;
    right:0;
    bottom:0;
}
*/
.row2 {
  margin-top: -200px;
}
.stats {
  display: none;
}
.hero .module-dark .module-content {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  /*    background-color: rgb(0, 93, 122); */
  /*    background-color: darkred;*/
}
.hero .tags {
  padding: 5px 10px 10px 10px;
  background-color: #2d2d2d;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.results strong {
  font-weight: 300;
}
.context-info .nums dl dd {
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.module .read-more {
  font-weight: 400;
  color: #5b0404;
}
.btn,
label {
  font-weight: 500;
}
.authors_title {
  margin-bottom: 0px;
  font-style: italic;
  color: grey;
}
.authors_title a {
  color: grey;
}
.authors_title a:hover {
  text-decoration: none;
  color: #005d95;
}
.label-review {
  background-color: darkorange;
}
.label-reauthor {
  background-color: #808096;
}
.span6 {
  margin-top: 50px !important;
}
#zbwfooter {
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}
#zbwfooter .randl-box {
  margin-top: 50px;
}
#sitelinks {
  margin-bottom: 2em;
  color: #f4f4f4;
}
#sitelinks a {
  font-size: 0.9em;
}
#sitelinks li {
  padding: 0 10px 0 10px;
}
/*Fix word breaks in FF*/
.media-heading {
   word-break: normal;
}

.context-info h1.heading {
   word-break: normal;
}


/*Prevent line breaks in author names*/
.authors_title span{
  white-space:nowrap;
}

.breadcrumb{
  color: #505050 !important;
}

.breadcrumb a{
  color: #505050 !important;
}


/* add indicator for extranal links in resource popup */
a[target="_blank"]:after {
    content: url(http://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
    marget: 0 0 0 5px;
}


.label-review,
.label-reauthor {
  margin-left:10px;
}

