<div class="module module-narrow module-shallow">
  <!-- <h2 class="module-heading">
    <i class="icon-info-sign"></i>
    {{ _('What are Organizations?') }}
  </h2> -->
  <div class="module-content journal_info"> <p class="journal_info"> Journals are the publishing instance for
  datasets. Journal admins can assign authorisation to its members, giving
  individual users (e.g. authors) the right to create and submit datasets for
  that particular journal. Only admins can publish a dataset.<br><br>If you manage a scientific journal and would like to use our service, <a href="/info/contact">please get in touch with us</a>.</p>
</div> </div>
