<!-- Modal -->
<div class="modal fade" id="reauthor_confirm" tabindex="-1" role="dialog" aria-labelledby="reauthorConfirmLabel" style="display:none">
  <div class="modal-dialog" role="document">

    <form method="POST" action="/dataset/{{ pkg.id }}/reauthor">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="reauthorConfirmLabel">Send Back to Author</h2>
      </div>

      <div class="modal-body">

          <p>This gives back write permission to the author and sends her/him a
              notification. You might also add an explanation in
              to message below.</p>


            <div class="form-group">
                <label for="msg">Message</label>
                <textarea class="form-control" id="msg" name="msg" rows="6" style="min-width: 400px; margin-left:50px;"></textarea>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Send</button>
      </div>

    </div>
    </form>

  </div>
</div>
