{% if pid_type == 'URL' %}
    {% set url = pid %}
    {% set prefix = "" %}
{% elif pid_type == 'DOI' %}
    {% set url = "http://dx.doi.org/" ~ pid %}
    {% set prefix = "doi:" %}
{% elif pid_type == "Handle" %}
    {% set url = "http://hdl.handle.net/" ~ pid %}
    {% set prefix = "hdl:" %}
{% endif %}

{# XXX there's no appropriate property for relation in schema.org #}
<section class="related_publication">

<h3>Related Publication</h3>
{%- if url -%}                                                      {# DOI has been provided #}
    {%- if pkg_dict['dara_related_citation'] != "" -%}                              {# there is an existing citation #}
        {%- if pid and pid not in pkg_dict['dara_related_citation'] -%}             {# if citation's doi match provided update the citation #}
            {%- set citation = h.update_citation(pkg_dict) -%}
            {% if citation == '' %}
                <a href="{{ url }}">
                    {{ prefix }} {{ pid }}
                </a>
            {% else %}
                {{- citation|safe -}}
            {% endif %}
        {%- else -%}                                                {# citation matches given DOI #}
            {{- pkg_dict['dara_related_citation']|safe -}}
        {%- endif -%}
    {%- else -%}                                                    {# no DOI, try to add one #}
        {%- set citation = h.update_citation(pkg_dict) -%}
        {{- citation|safe -}}
        <a href="{{ url }}">
            {{ prefix }} {{ pid }}
        </a>
    {%- endif -%}
{% else %} {# provided Identifier is not a DOI or Handler #}
    {{ pid_type }}: {{ pid }}
{% endif %}

</section>
