<!-- Modal -->
<div class="modal fade" id="related_notify" tabindex="-1" role="dialog" aria-labelledby="relatedNotificationLabel" style="display:none">
  <div class="modal-dialog" role="document">

    <form method="POST" action="/dataset/{{ pkg.id }}/publish">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="relatedNotificationLabel">Publish - Missing Related Publication</h2>
      </div>

      <div class="modal-body">

          <p>No related publications have been added. You can publish this dataset without adding a related publication, or <a href="/dataset/edit/{{ pkg.id }}#related_pub">click here</a> to add one.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success">Publish</button>
      </div>

    </div>
    </form>

  </div>
</div>
