{# can't use ckan_extends here since <li> element is outside block #}

{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set res_url = h.res_abs_url(res) %}

{% if res['dara_DOI'] %}
    {% set res_doi = "http://dx.doi.org/" ~ res['dara_DOI'] %}
{% endif %}

<li class="resource-item" data-id="{{ res.id }}" resource="{{ res_url }}">
  {% if res.format.lower() in ["html","json","xml","txt","doc","odt","csv","xls","zip","api","pdf","rdf","wms","png","jpg","gif","wfs","gml","wmts","kml","geo", "jpeg", "jpg"] %}
    {% set format = res.format.lower() %}
  {% else %}
    {% set format = 'data' %}
  {% endif %}
  {% block resource_item_title %}
    <a class="heading" href="{{ res_url }}" title="{{ res.name or res.description }}">
    <span>{{ h.resource_display_name(res) }}</span>
        <span class="format-label" data-format="{{ format }}">{{ res.format }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>
  {% endblock %}

  {% block resource_item_description %}
    <p class="description">
      {%- if res.description -%}{{ h.markdown_extract(res.description, extract_length=80) }}{%- endif -%}

      {# download stats here #}
      {% set total_downloads = h.resource_downloads(res['url']) %}
      {% if total_downloads > 0 %}
        <div class="resource_downloads">
            {{ _('Downloads') }}: {{ total_downloads }}
        </div>
      {% else %}
      {% endif %}
    </p>
  {% endblock %}
  {% block resource_item_explore %}
  {% if not url_is_edit %}
  <div class="dropdown btn-group">
    <a href="#" class="btn btn-primary dropdown-toggle split" data-toggle="dropdown">
      <i class="fa fa-share"></i>
      {{ _('explore') }}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}
      <li>
        <a href="{{ res_url }}">
          {% if res.has_views %}
            <i class="fa fa-bar-chart"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="fa fa-info-circle"></i>
            {{ _('More information') }}
          {% endif %}
        </a>
      </li>
      {% if res.url and h.is_url(res.url) %}
      <li>
        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
          {% if res.has_views %}
            <i class="fa fa-download"></i>
            {{ _('Download') }}
          {% elif '/download/' in res.url %}
            {{ _('Download') }}
          {% else %}
            <i class="fa fa-external-link"></i>
            {{ _('Go to resource') }}
          {% endif %}
        </a>
      </li>
      {% endif %}
      {% if can_edit %}
      <li>
        <a href="{{ h.url_for('dataset_resource.edit', id=pkg.name, resource_id=res.id) }}">
          <i class="fa fa-edit"></i>
          {{ _('Edit') }}
        </a>
      </li>
      {% endif %}
      {% endblock %}
    </ul>
  </div>
  {% endif %}
  {% endblock %}

</li>
