<!-- Modal -->
<div class="modal fade" id="reviewer_update" tabindex="-1" role="dialog" aria-labelledby="editorNotificationLabel" style="display:none">
  <div class="modal-dialog" role="document">

    <form method="POST" action="/dataset/{{ pkg.id }}/">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="modal-title" id="editorNotificationLabel">Update Reviewers</h2>
      </div>

      <div class="modal-body">

          <p>You can update assigned reviewers here.</p>

            <div class="form-group">
              <label>Dataset Reviewer</label>
              {{ pkg }}
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary">Update & Send</button>
      </div>

    </div>
    </form>

  </div>
</div>
