{# this is added as a snippet to "dara_level1.html" #}
{# TODO: find a way to avoid ^^ #}

<legend>Dataset Reviewer</legend>

{{ form.input('maintainer', label=_('Reviewer'), id='field-maintainer', placeholder=_('Joe Bloggs'), value=data.maintainer, error=errors.maintainer, classes=['control-medium'], attrs={'data-infotext': """Use this field if you'd like to add a reviewer. Select the name from the dropdown list if they already have JDA accounts, otherwise provide their email address and they will be invited to the platform. """, 'data-module': 'autocomplete', 'data-module-source': '/api/2/util/user/autocomplete?q=?'}) }}
