{# this is added as a snippet to "dara_level1.html" #}

{#
    Keep things consistent: Datasets that started with the old workflow should
    still behave like that workflow, even if the "Reviewer" role is added when
    the dataset is already in "review"
#}
{% if h.in_review(c.pkg_dict) != 'true' %}
    <div class="zbw-box box-full">

    <legend>Dataset Reviewers</legend>

    {{ form.input('maintainer', label=_('Reviewer'), id='field-maintainer', placeholder=_('Reviewer 1'), value=data.maintainer, error=errors.maintainer, classes=['control-medium'], attrs={'data-infotext': """Use this field if you'd like to add a reviewer. Select the name from the dropdown list if they already have JDA accounts, otherwise provide their email address and they will be invited to the platform. """, 'data-module': 'autocomplete', 'data-module-source': '/api/2/util/user/autocomplete?q=?'}) }}

    {{ form.input('maintainer_email', label=_('Reviewer'), id='field-maintainer-email', placeholder=_('Reviewer 2'), value=data.maintainer_email, error=errors.maintainer_email, classes=['control-medium'], attrs={'data-infotext': """Use this field if you'd like to add a reviewer. Select the name from the dropdown list if they already have JDA accounts, otherwise provide their email address and they will be invited to the platform. """, 'data-module': 'autocomplete', 'data-module-source': '/api/2/util/user/autocomplete?q=?'}) }}
    </div>
    <a name="dataset_reviewers"></a>
{% endif %}
